In [9]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [10]:
filename = '../Data/cleaned_data.csv'
df = pd.read_csv(filename)

In [11]:
del df['Unnamed: 0']

In [12]:
df.head()

,SOLD DATE,PROPERTY TYPE,ADDRESS,CITY,ZIP,PRICE IN K,BEDS,BATHS,LOCATION,SQUARE FEET,LOT SIZE,YEAR BUILT,$/SQUARE FEET,HOA/MONTH,URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING),SOURCE,MLS#,LATITUDE,LONGITUDE,COUNTY
0,NaN,SFH,1123 Brunswick St,DALY CITY,94014,100.5,2.0,1.0,NaN,1030.0,2500.0,1916.0,98.0,NaN,http://www.redfin.com/CA/Daly-City/1123-Brunsw...,NaN,NaN,37.705789,-122.456480,SAN MATEO
1,NaN,SFH,17382 Via La Jolla,SAN LORENZO,94580,101.0,3.0,2.0,NaN,1229.0,5200.0,1951.0,82.0,NaN,http://www.redfin.com/CA/San-Lorenzo/17382-Via...,NaN,NaN,37.665810,-122.135079,ALAMEDA
2,NaN,Condo,1750 Halford Ave Apt 105,SANTA CLARA,95051,102.0,1.0,1.0,NaN,678.0,NaN,1970.0,150.0,NaN,http://www.redfin.com/CA/Santa-Clara/1750-Half...,NaN,NaN,37.355715,-121.998715,SANTA CLARA
3,NaN,SFH,888 Palm St,SAN JOSE,95110,102.0,2.0,1.0,NaN,884.0,6750.0,1913.0,115.0,NaN,http://www.redfin.com/CA/San-Jose/888-Palm-St-...,NaN,NaN,37.319633,-121.886415,SANTA CLARA
4,NaN,SFH,1431 86th Ave,OAKLAND,94621,102.5,2.0,1.0,NaN,1029.0,5320.0,1927.0,100.0,NaN,http://www.redfin.com/CA/Oakland/1431-86th-Ave...,NaN,NaN,37.753451,-122.176025,ALAMEDA

# Count something

In [13]:
# count 1: number of record
df.shape

(38273, 20)

In [14]:
# count 2: count number of house sold above 1M/2M/4M/8M
print(df.loc[df['PRICE IN K'] > 1000].shape)
print(df.loc[df['PRICE IN K'] > 2000].shape)
print(df.loc[df['PRICE IN K'] > 4000].shape)
print(df.loc[df['PRICE IN K'] > 4000].shape)

(16878, 20)
(4821, 20)
(823, 20)
(823, 20)

# Find something

In [15]:
# finding 1: highest and lowest price
print(df['PRICE IN K'].max())
print(df['PRICE IN K'].min())

42250.0
100.5

In [16]:
# finding 2: Lagest living space & lot size
print(df['SQUARE FEET'].max())
print(df['LOT SIZE'].max())

77660.0
368212680.0